.card {
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-soft);
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--color-accent);
  background-color: var(--color-bg-alt);
}

.card + .card {
  margin-top: var(--spacing-lg);
}

.card-title {
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacing-sm);
  color: var(--color-text);
}

.card-text {
  margin-bottom: 0;
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
}

/* @media (min-width: 768px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--spacing-md);
  }

  .card + .card {
    margin-top: 0;
  }
} */
