<header class="header">
  <div class="header-content">

    <div class="header-logo">
      <img src="{{ site.baseurl }}/img/logo-white-nomargin.svg" alt="Labex Medicina Diagnóstica">
    </div>

    <button class="header-toggle" aria-expanded="false" aria-controls="site-nav">
      <span class="sr-only">Menu</span>
      ☰
    </button>

    <nav class="header-nav">
      <ul>
        {% for item in header.menu.internal %}
        <li>
          <a href="{{ site.baseurl }}{{ item.path }}" target="_self">{{ item.label }}</a>
        </li>
        {% endfor %}
        {% for item in header.menu.external %}
        <li>
          <a href="{{item.url}}" target="_blank" aria-label="{{ item.label }} (link externo)">{{ item.label }} <img src="{{ site.baseurl }}/icon/up-right-from-square-solid-full.svg" alt="Link externo."></a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<div class="header-backdrop"></div>